button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
}

button:hover {
  box-shadow: 0px 0px 15px 0px var(--color-background-opacity);
}