.category {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .moviesListContainer {
    display: flex;
    width: 100%;
    position: relative;
    height: 500px;
    overflow: auto;

    .moviesList {
      position: absolute;
      display: grid;
      height: auto;
      grid-gap: 20px;
      grid-auto-flow: column;
    }
  }

  .moviesListContainer#wrap {
    height: auto;
    overflow: unset;

    .moviesList {
      position: inherit;
      display: grid;
      height: auto;
      width: 100%;
      box-sizing: border-box;
      grid-auto-flow: unset;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}